# Maven
target/

# Java
*.class
*.jar
*.war
*.ear

# Miscellaneous
*.bak

# Minecraft Coder Pack
CHANGELOG
LICENSE
conf
docs
eclipse
jars
logs
reobf
runtime
src/minecraft
src/backup
temp
conf/version.cfg
*.bat
*.sh
